name = "uniwrtc"
main = "src/index.js"
compatibility_date = "2024-12-20"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Room"]

[[durable_objects.bindings]]
name = "ROOMS"
class_name = "Room"

[env.production]
routes = [
  { pattern = "signal.peer.ooo/*", zone_name = "peer.ooo" }
]

[[env.production.durable_objects.bindings]]
name = "ROOMS"
class_name = "Room"

[build]
command = "npm install"
