name = "uniwrtc"
main = "src/index.js"
compatibility_date = "2024-12-20"

assets = { directory = "./dist", binding = "ASSETS" }

[[durable_objects.bindings]]
name = "ROOMS"
class_name = "Room"

[[migrations]]
tag = "v1"
new_classes = ["Room"]

[env.production]
routes = [
  { pattern = "signal.peer.ooo/*", zone_name = "peer.ooo" }
]

assets = { directory = "./dist", binding = "ASSETS" }

[[env.production.durable_objects.bindings]]
name = "ROOMS"
class_name = "Room"

[build]
command = "npm install"
